/* TODO: Sections Parallax Effect */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.hidden {
  display: none;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.75rem 1rem;
}

.nav-logo {
  width: 6rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
}

.nav-list-mobile {
  position: absolute;
  width: calc(100% - 2rem);
  background-color: #ad4844;
  padding: 1.25rem 1rem 2.8rem;
  text-align: center;
  margin-top: 0.75rem;
}

.nav-list-desktop {
  display: none;
}

.nav-list-link {
  text-transform: uppercase;
}

.nav-list-link a {
  color: inherit;
  text-decoration: none;
}

.nav-list-link-strong {
  font-weight: 700;
}

.nav-list-link-active,
.nav-list-link:hover,
.nav-list-link:focus {
  text-decoration: underline;
}

.nav-list-link-mobile {
  color: #fff;
  text-transform: uppercase;
  margin: 1.25rem;
}

#menu-btn {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 750px) {
  #menu-btn,
  .nav-list-mobile {
    display: none;
  }

  .nav {
    padding: 3rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }

  .nav-list-desktop {
    display: flex;
    gap: 2.5rem;
  }

  .nav-logo {
    width: 15rem;
  }
}

@media (min-width: 1000px) {
  .nav-list-desktop {
    margin: 0 auto;
    transform: translateX(-25%);
  }
}

.header-container {
  padding: 4rem 1rem 5.5rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header-logo {
  display: none;
}

.header-info {
  margin-top: 2rem;
  text-align: center;
}

.header-title {
  background: linear-gradient(45deg, #111111, #b1b1b1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.25rem;
}

.header-description {
  font-size: 0.85rem;
  margin-top: 1.25rem;
}

.header .btn {
  display: none;
}

@media (min-width: 750px) {
  .header-container {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  .header-container > * {
    flex: 1;
  }

  .header-info {
    text-align: start;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-description {
    font-size: 1.25rem;
  }

  .header-logo {
    display: block;
    margin-bottom: 2rem;
    width: 75%;
  }

  .header .btn {
    display: initial;
    margin-top: 1.25rem;
  }
}

.btn {
  padding: 0.625rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.btn-positive {
  background-color: #30ab4c;
}
