* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  background: linear-gradient(45deg, #111111, #b1b1b1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.title-highlight {
  position: relative;
  text-align: center;
  padding-bottom: 1.25rem;
}

.title-highlight::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8.5rem;
  height: 1px;
  background-color: #111;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.75rem 1rem;
  z-index: 1;
}

.nav-logo {
  width: clamp(6rem, 25vw, 15rem);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
}

.nav-list-mobile {
  position: absolute;
  width: calc(100% - 2rem);
  background-color: #ad4844;
  padding: 1.25rem 1rem 2.8rem;
  text-align: center;
  margin-top: 0.75rem;
}

.nav-list-desktop {
  display: none;
}

.nav-list-link {
  font-weight: 450;
  text-transform: uppercase;
}

.nav-list-link a {
  color: inherit;
  text-decoration: none;
}

.nav-list-link-strong {
  font-weight: 700;
}

.nav-list-link-active,
.nav-list-link:hover,
.nav-list-link:focus {
  text-decoration: underline;
}

.nav-list-link-mobile {
  color: #d8d8d8;
  text-transform: uppercase;
  margin: 1.25rem;
}

.nav-list-link-mobile:hover,
.nav-list-link-mobile:active,
.nav-list-link-mobile.nav-list-link-active {
  color: #fff;
}

#menu-btn {
  width: clamp(1.5rem, 6vw, 3rem);
}

@media (min-width: 750px) {
  #menu-btn,
  .nav-list-mobile {
    display: none;
  }

  .nav {
    padding: 3rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }

  .nav-list-desktop {
    display: flex;
    gap: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .nav-list-desktop {
    margin: 0 auto;
    transform: translateX(-25%);
  }
}

.header {
  background: url(./assets/images/effects/effects-5.svg) no-repeat -50% 100% / 50%;
  padding-bottom: 6rem;
}

.header-container {
  padding: 4rem 1rem 5.5rem;
}

.header-logo {
  display: none;
}

.header-info {
  margin-top: 2rem;
  text-align: center;
}

.header-title {
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  font-weight: 450;
}

.header-description {
  margin-top: 1.25rem;
  font-size: clamp(0.85rem, 5vw, 1.25rem);
  font-weight: 400;
}

.header .btn {
  display: none;
}

@media (min-width: 750px) {
  .header {
    background: url(./assets/images/effects/effects-7.svg) no-repeat 50% 100% /
      120%;
    padding-bottom: 8rem;
  }

  .header-container {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 12rem 1rem 5.5rem;
  }

  .header-container > * {
    flex: 1;
  }

  .header-info {
    text-align: start;
  }

  .header-logo {
    display: block;
    margin-bottom: 2rem;
    width: 75%;
  }

  .header .btn {
    display: initial;
    margin-top: 1.25rem;
  }
}

.btn {
  padding: 0.625rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.btn-positive {
  background-color: #30ab4c;
}

.btn-primary {
  background-color: #ad4844;
}

.btn-product {
  font-weight: 400;
  color: #000;
  background-color: #bebebe;
}

.btn-close {
  color: #000;
  padding: 0;
  font-size: 2rem;
}

.list-ordered {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  counter-reset: item;
}

.list-ordered-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  counter-increment: item;
}

.list-ordered-item::before {
  content: counter(item);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.section {
  padding: 4.5rem 1rem;
}

.section:nth-child(n + 3) {
  background: url(./assets/images/effects/effects-1.svg) no-repeat top / 100%
    auto;
}

.section-title {
  font-size: clamp(1.25rem, 5vw, 2rem);
  font-weight: 450;
}

.section-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#section-wyroznienie {
  background: url(./assets/images/effects/effects-6.svg) no-repeat 110% 0% / 25%;
}

#section-wyroznienie .section-inner:nth-child(n + 2) {
  background: url(./assets/images/effects/effects-4.svg) no-repeat top / 100%
    auto;
}

.section-inner-sections {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  gap: 4rem;
}

.section-inner-title {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 450;
}

.section-inner-list-ordered {
  margin-top: 2rem;
}

.section-inner-description {
  margin-top: 2rem;
  text-align: center;
}

.section-inner-img {
  border-radius: 2rem;
}

.section-inner > .section-inner-img,
.section-inner-img-container {
  margin-top: auto;
}

.section-inner-img-container {
  display: flex;
  gap: 1.25rem;
}

.section-ingredients {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.section-ingredients-btn {
  display: none;
}

.section-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
}

.section-ingredient:nth-child(n + 2) {
  background: url(./assets/images/effects/effects-4.svg) no-repeat top / 100%
    auto;
}

.section-ingredient > img {
  width: 2.5rem;
  height: 2.5rem;
}

.section-ingredient-amount {
  margin-top: 0.625rem;
}

.section-ingredient .section-ingredient-title::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  height: 1px;
  width: 100%;
  background: none;
}

.section-ingredient:hover .section-ingredient-title::after {
  background-color: #111;
}

.section-dog {
  position: relative;
  background-image: url(./assets/images/piesek.png);
  height: 60vh;
  margin: 1rem;
}

.section-dog::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/effects/effects-2.svg);
  z-index: -1;
}

.section-dog,
.section-dog::before {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#section-sklad {
  padding-bottom: 0;
}

#section-sklad > .section-inner {
  margin-top: 4.5rem;
}

#section-wyroznienie .section-inner::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 2rem;
}

#section-wyroznienie .section-inner:hover::after {
  background-color: #111;
}

@media (min-width: 750px) {
  .section-inner-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-dog-img {
    margin-top: 8rem;
  }

  #section-dzialanie {
    display: none;
  }

  #section-wyroznienie {
    background: none;
  }

  #section-wyroznienie .section-inner:nth-child(n + 2),
  .section:nth-child(n + 3) {
    background: none;
  }

  .section-dog,
  .section-dog::before {
    background-size: 50%;
  }
}

@media (min-width: 900px) {
  .section-ingredients-container {
    position: relative;
  }

  .section-ingredients {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem 40%;
  }

  .section-ingredients-btn {
    display: initial;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-ingredients-img-container {
    position: absolute;
    margin: auto;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./assets/images/effects/effects-3.svg) no-repeat center /
      100%;
  }

  .section-ingredient {
    flex-basis: 25%;
  }

  .section-ingredient:nth-child(n + 2) {
    background: none;
  }

  .section-ingredient:last-child {
    display: none;
  }

  #section-sklad > .section-inner {
    margin-top: 6.5rem;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  gap: 2rem 3rem;
}

@media (min-width: 750px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7.5rem;
  }
}

.products > .btn-product {
  aspect-ratio: 1 / 1;
}

.products-select-container {
  display: flex;
  justify-content: center;
}

.products-select-container > label {
  padding: 0.625rem;
  border: 1px solid #ad4844;
  font-size: 1.25rem;
}

.products-select {
  position: relative;
  border: none;
  background-color: #ad4844;
}

.products-select::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 9px;
  background-color: #fff;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(0% 10%, 50% 90%, 100% 10%);
}

.products-select > select {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0.625rem calc(0.625rem + 2.5rem + 15px) 0.625rem 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.popup-popup {
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  max-width: 660px;
  width: 95%;
  color: #000;
  background-color: #fff;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-title {
  font-size: 2rem;
}

.popup-value {
  padding: 4rem 0 2rem;
  font-size: 2rem;
}

.error {
  color: red;
  font-size: 1.25rem;
  text-align: center;
}

.error-message {
  margin-top: 0.5rem;
}
